@import './_Colors';

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $specialBlack;
    height: 100vh;
    h5{
        color: white;
        font-weight: 200;
    }
    img{
        width: 32vw;
        object-fit: contain;
    }
    p{
        color: $spanishGray;
        font-size: small;
    }

    .login__button{
        padding: 20px;
        border-radius: 99px;
        background-color: $justifyBlue;
        font-weight: 400;
        color: white;
        text-decoration: none;
        margin: 33px;
        width: 25vw;
        display: flex;
        justify-content: center;
    }
}